<div class="modal fade" id="editProfileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form action="{{ url_for('edit_profile') }}" method="post" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Full name</label>
              <input class="form-control" name="fullname" value="{{ current_user.fullname or '' }}">
            </div>
            <div class="col-md-3">
              <label class="form-label">DOB</label>
              <input type="date" class="form-control" name="dob" value="{{ current_user.dob or '' }}">
            </div>
            <div class="col-md-3">
              <label class="form-label">Gender</label>
              <select class="form-select" name="gender">
                <option value="">-- Select --</option>
                <option {% if current_user.gender == 'Male' %}selected{% endif %}>Male</option>
                <option {% if current_user.gender == 'Female' %}selected{% endif %}>Female</option>
                <option {% if current_user.gender == 'Other' %}selected{% endif %}>Other</option>
              </select>
            </div>
            <div class="col-12">
              <label class="form-label">Address</label>
              <input class="form-control" name="address" value="{{ current_user.address or '' }}">
            </div>
            <div class="col-md-6">
              <label class="form-label">Talent type</label>
              <input class="form-control" name="talent_type" value="{{ current_user.talent_type or '' }}">
            </div>
            <div class="col-md-6">
              <label class="form-label">Profile Picture</label>
              <input type="file" class="form-control" name="profile_pic">
            </div>
            <div class="col-12">
              <label class="form-label">Bio</label>
              <textarea class="form-control" name="bio" rows="3">{{ current_user.bio or '' }}</textarea>
            </div>
            <div class="col-12">
              <label class="form-label">Password (leave blank to keep current)</label>
              <input type="password" class="form-control" name="password">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
